@using MVC_Tutorial.Models
@model MVC_Tutorial.Models.Product;



@section Footer {
        <p>Details Footer</p>
    }

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Title</title>
</head>
<body>
<div>
    <p>Название: @Model.Title</p>  
    <p>Цена: @Model.Price</p>
    
    
</div>


</body>
</html>